@layer base {
	* {
		box-sizing: border-box;
		outline: 0;
		border: 0;
		padding: 0;
		margin: 0;

		font: inherit;
		color: inherit;
		line-height: 1;

		-webkit-tap-highlight-color: transparent;

		&::after,
		&::before {
			box-sizing: inherit;
		}
	}

	html {
		font-family: system-ui;
		text-rendering: optimizelegibility;
		font-synthesis: none;
	}

	body {
		background: var(--color-neutral-white);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
		line-height: 1.2;
	}

	p {
		text-wrap: pretty;
		line-height: 1.4;
	}

	label {
		user-select: none;
	}

	img {
		max-width: 100%;
		height: auto;

		user-select: none;
	}
}
