@font-face {
	font-display: swap;
	font-family: "Hanken Grotesk";
	src: url("../fonts/hanken-grotesk/hanken-grotesk-latin-300-normal.woff2")
		format("woff2");
	font-weight: 300;
}

@font-face {
	font-display: swap;
	font-family: "Hanken Grotesk";
	src: url("../fonts/hanken-grotesk/hanken-grotesk-latin-600-normal.woff2")
		format("woff2");
	font-weight: 600;
}

@layer base, components, utilities;

:root {
	--color-theme: $color-cyan-saturate; /* -> select a color theme */
}

@layer base {
	* {
		box-sizing: border-box;
		outline: 0;
		border: 0;
		padding: 0;
		margin: 0;

		font: inherit;
		color: inherit;
		line-height: 1;

		transition: inherit;

		-webkit-tap-highlight-color: transparent;

		&::after,
		&::before {
			box-sizing: inherit;
		}
	}

	html {
		font-family: "Hanken Grotesk", system-ui;
		font-weight: 300;
		text-rendering: optimizelegibility;
		font-synthesis: none;
		font-size: 0.875rem;

		transition-duration: 200ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		@media (width>=640px) {
			font-size: 1rem;
		}
	}

	body {
		background: $color-floral-white;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
		line-height: 1.2;
	}

	p {
		text-wrap: pretty;
		line-height: 1.4;
	}

	label {
		user-select: none;
	}

	img {
		max-width: 100%;
		height: auto;

		user-select: none;
	}
}
